/* ==================================================
    main animation classes:
   ==================================================*/
.question {
    backface-visibility: hidden;    /* hints browser to use hardware acceleration */
    will-change: transform;
    min-height: 100vh;
    width: 100%;
}

.animated {
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* ==================================================
    slides:
   ==================================================*/

.slide-out-right,
.slide-in-right {
    animation-timing-function: ease-in-out;
}

/* ---------- slide right: ---------- */
@keyframes slide-out-right {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }
}
.slide-out-right {
    animation-name: slide-out-right;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slide-in-right {
    animation-name: slide-in-right;
}
