@import "./base/_constants";
@import "./base/_resets";
@import "utils/_animations";


// ==================================================
// reused elements on questions:
// ==================================================

.btn {
    @btn-color: #2c63ff;

    display: block;
    padding: 6px 10px;
    background: @btn-color;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: @border-radius-default;
    height: 32px;
    cursor: pointer;

    &:hover {
        background: darken(@btn-color, 10%);
    }
}

.input {
    height: 32px;
    padding: 8px 12px;
    border: 1px solid @input-border-color;
}
