@import "./base/_constants";
@import "./base/_resets";
@import "utils/_animations";


// ==================================================
// reused elements on questions:
// ==================================================
.container {
    position: relative;
    border-radius: 3px;
    border: 1px solid #e0dee5;
    padding: 16px;
    margin: 40px;
}

.btn {
    display: block;
    padding: 6px 10px;
    background: #2c63ff;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: @border-radius-default;
    height: 32px;
    cursor: pointer;

    &:hover {
        background: darken(#2c63ff, 10%);

    }
}

.input {
    height: 32px;
    padding: 8px 12px;
    border: 1px solid @input-border-color;
}
