@import "../base/_constants";


.text-muted {
    color: @font-color-muted;
}

.text-gray-em {
    color: @font-color-gray-em;
    font-weight: bold;
}

// default nowrap, row-direction flex container:
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
