@import "../base/_constants";


.text-muted {
    color: @font-color-muted;
}

.text-gray-emphasis {
    color: @font-color-gray-emphasis;
    font-weight: bold;
}

.icon {
    height: auto;
    vertical-align: middle;

    &&--external-link-icon {
        margin-top: -3px;
    }

    &&--sm {
        width: 20px
    }

    &&--med {
        width: 44px;
    }

    &&--lg {
        width: 64px;
    }
}

// default nowrap, row-direction flex container:
// TODO: should rename to `.mixin-flex-row` since it's being used as a mixin:
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

// ==================================================
// mixins:
// ==================================================

.mixin-container {
    position: relative;
    border-radius: 3px;
    border: 1px solid #e0dee5;
    padding: 16px;
    margin: 40px;
}
